<!--Section: Post-->
<section class="section section-blog-fw" *ngIf="loaded" [@flyInOut]="'in'">

    <!--First row-->
    <div class="row">
        <div class="col-md-12 wow fadeIn">
            <div class="table-responsive">
                <table id="serverlist" class="table table-hover text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="text-center">Game</th>
                            <th class="text-center">Hostname</th>
                            <th class="text-center">Players</th>
                        </tr>
                    </thead>
                    <tbody id="servers">
                        <tr *ngFor="let server of servers" (click)="onMouseEnter(server)">
                            <td>
                                <img class="game-img"
                                    src="https://api.absolutedivinity.net/icon/{{ server.gamename.toLowerCase() }}">
                            </td>
                            <td class="td-shadow">
                                {{ server.hostname }}
                            </td>
                            <td class="td-shadow">
                                {{ server.players }}/{{ server.maxplayers }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <!--/First row-->
    
</section>
<!--/Section: Post-->
